.bold {
	font-weight:bold;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#charEnterContainer {
	width: 80%;
	margin: 0 auto;
	display: block;
}
#charEnterContainer .enterHeader {
	display: block;
}
#charEnter .enterHeader div {
	float: left;
}
#charEnter .enterHeader label {
	font-size: 18px;
	font-weight: bold;
}
#charEnter .enterHeader input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}
.headerLeft {
	width: 40%;
	float: left;
}
.headerMid {
	width: 40%;
	float: left;
}
.headerRight {
	width: 20%;
	float: left;
}
.headerRight img {
	width: 100%;
	overflow: hidden;
}
.required {
	font-size: 16px;
	color: red;
}
.twoToOneContainer {
	width: 100%;
	display: block;
}
.left {
	width: 60%;
	display: block;
	overflow: hidden;
	float: left;
}
.right {
	width: 40%;
	display: block;
	overflow: hidden;
	float: right;
}
.oneBox {
	width: 50%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 0 15px;
	box-sizing: border-box;
}
.twoBox {
	width: 100%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 0 15px;
}
.abilityTable ul {
	padding: 0;
	margin: 0;
}
.abilityTable ul li {
	text-align: center;
	color: #FFF;
	width: 50px;
	height: 32px;
	margin: 2px;
	background: #000;
	display: inline-block;
}
.powerContainer {
	width:80%;
	clear: both;
	padding: 18px 0;
	margin: 0 auto;
}
.powerContainer h2 {
	text-align: center;
	text-decoration: underline;
}
.power {
	width: 33%;
	float: left;
	font-family: arial;
	font-size: 8pt;
	width: 350px;
	line-height: 10.5pt;
	padding: 10px
}
.atwill {
	background-color: #407040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.encounter {
	background-color: #704040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.daily {
	background-color: #404040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.powerName {
	font-weight: bold;
	float: left;
}
.powerRank {
	float: right;
}
.powerFlavor {
	background-color: #DDDDCC;
	background-image: url('images/bg_350.jpg');
	font-style: italic;
	padding: 1px 0px 3px 5px;
}
.powerAttributes {
	padding-left: 5px;
}
.noBG {
	padding: 0px 0px 0px 5px;
	background-image: none;
}
.shadedBG {
	padding: 0px 0px 0px 5px;
	background-image: url('images/bg_350.jpg');
}
.pSecondary {
	padding: 0 0 0 15px;
}
.categoryHeader {
	color: #FFF;
	font-weight: normal;
	background-color: #28435a;
	width: 100%;
	overflow: hidden;
	border-radius: 0 50px 0 0;
	padding-left: 6px;
}
