.bold {
	font-weight:bold;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#charEnterContainer {
	width: 80%;
	margin: 0 auto;
	display: block;
}
#charEnterContainer .enterHeader {
	display: block;
}
#charEnter .enterHeader div {
	float: left;
}
#charEnter .enterHeader label {
	font-size: 18px;
	font-weight: bold;
}
#charEnter .enterHeader input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}
.headerLeft {
	width: 40%;
	float: left;
}
.headerMid {
	width: 40%;
	float: left;
}
.headerRight {
	width: 20%;
	float: left;
}
.headerRight img {
	width: 100%;
	overflow: hidden;
}
.required {
	font-size: 16px;
	color: red;
}
.twoToOneContainer {
	width: 100%;
	display: block;
}
.left {
	width: 100%;
	display: block;
	overflow: hidden;
	float: left;
}
.right {
	width: 100%;
	display: block;
	overflow: hidden;
	float: right;
}
@media only screen and (min-width:1310px) {
	.left {
		width: 60%;
	}
	.right {
		width: 40%;
	}
}
.oneBox {
	width: 100%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 0 15px;
	box-sizing: border-box;
}
.twoBox {
	width: 100%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 0 15px;
	box-sizing:border-box;
}
@media only screen and (min-width: 860px) {
	.oneBox {
		width: 50%;
	}
}
.abilityTable ul {
	padding: 0;
	margin: 0;
}
.abilityTable ul li {
	text-align: center;
	width: 30px;
	height: 28px;
	line-height: 28px;
	margin: 1px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}
.abilityTable ul li input {
	width: 100%;
	height: 26px;
	text-align: center;
	font-size: 18px;
	border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
@media only screen and (min-width:1310px) {
	.abilityTable ul li {
		font-size: 12px;
	}
}
#abilityKeys {
	width: 100%;
	display: inline-block;
}
#abilityKeys li {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	height: 14px;
	line-height: 18px;
}
@media only screen and (min-width: 860px) {
	#abilityKeys li {
		font-size: 14px;
	}
}
#abilityKeyOne {
	width: 33%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityKeyOne li {
	display: inline-block;
	width: 30px;
	float: left;
	margin: 2px;
	list-style-type: none;
}
#abilityKeyOne li:nth-child(odd) {
	clear: left;
	width: 46%;
}
#abilityKeyOne li:nth-child(even) {
	width: 40%;
}
@media only screen and (min-width:860px) {
	#abilityKeyOne li:nth-child(odd) {
		clear: left;
		width: 42%;
	}
	#abilityKeyOne li:nth-child(even) {
		width: 38%;
	}
}
@media only screen and (min-width:1310px) {
	#abilityKeyOne li:nth-child(odd) {
		clear: left;
		width: 32px;
	}
	#abilityKeyOne li:nth-child(even) {
		width: 34px;
	}
}
#abilityKeyTwo {
	width: 53%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityKeyTwo li {
	display: inline-block;
	width: 25%;
	float: left;
	margin: 2px 0;
	list-style-type: none;
}
@media only screen and (min-width:1310px) {
	#abilityKeyTwo li {
		width: 34px;
		margin: 2px;
	}
}
#abilityKeyThree {
	width: 14%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityKeyThree li {
	display: inline-block;
    vertical-align: middle;
	width: 100%;
	float: left;
	margin: 2px;
	list-style-type: none;
	vertical-align: middle;
}
@media only screen and (min-width: 1310px) {
	#abilityKeyThree {
		width: 36px;
	}
}
#abilityTwoCell {
	width: 33%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityTwoCell li {
	display: inline-block;
	float: left;
	border: 1px solid #000;
	margin: 2px;
	list-style-type: none;
}
#abilityTwoCell li:nth-child(odd) {
	clear: left;
	width: 46%;
	background: #000;
	color: #FFF;
}
#abilityTwoCell li:nth-child(even) {
	border-width: 1px 8px 1px 1px;
	border-radius: 1px 5px 5px 1px;
	width: 40%;
}
@media only screen and (min-width:860px) {
	#abilityTwoCell li:nth-child(odd) {
		clear: left;
		width: 42%;
	}
	#abilityTwoCell li:nth-child(even) {
		width: 38%;
	}
}
@media only screen and (min-width:1310px) {
	#abilityTwoCell li:nth-child(odd) {
		clear: left;
		width: 32px;
		background: #000;
		color: #FFF;
	}
	#abilityTwoCell li:nth-child(even) {
		border-width: 1px 8px 1px 1px;
		border-radius: 1px 5px 5px 1px;
		width: 34px;
		font-size: 18px;
		font-weight: bold;
	}
}
#abilityFourCell {
	width: 54%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityFourCell li {
	display: block;
	width: 23%;
	float: left;
	border: 1px solid #000;
	border-right: 0;
	margin: 2px 0 2px 2px;
	list-style-type: none;
}
@media only screen and (min-width:1310px) {
	#abilityFourCell li {
		width: 34px;
		font-size: 18px;
		font-weight: bold;
	}
}
#abilityFourCell li:nth-child(4n) {
	border: 1px solid #000;
}
#abilityFourCell li:nth-child(4n+1) {
	clear: both;
}
#abilityOneCell {
	width: 13%;
	float: left;
	display: block;
	box-sizing: border-box;
}
#abilityOneCell li {
	display: inline-block;
    vertical-align: middle;
	width: 100%;
	height: 30px;
	float: left;
	border: 2px solid #000;
	margin: 2px;
	box-sizing: border-box;
	list-style-type: none;
	vertical-align: middle;
}
@media only screen and (min-width: 1310px) {
	#abilityOneCell li {
		width: 36px;
		font-size: 18px;
		font-weight: bold;
	}
}
.hpContainer div {
	display: block;
	float: left;
	margin: auto;
}
.hpMax {
	width: 31%;
	height: 50px;
	background-color: green;
}
.hpBloodied {
	width: 23%;
	height: 50px;
	background-color: yellow;
}
.surgeValue {
	width: 23%;
	height: 50px;
	background-color: cyan;
}
.surgeDay {
	width: 23%;
	height: 50px;
	background-color: maroon;
}
.hpCurrent {
	
}
.hpTemp {
	
}
.hpSurges {
	
}
.powerContainer {
	width:80%;
	clear: both;
	padding: 18px 0;
	margin: 0 auto;
}
.powerContainer h2 {
	text-align: center;
	text-decoration: underline;
}
.power {
	width: 33%;
	float: left;
	font-family: arial;
	font-size: 8pt;
	width: 350px;
	line-height: 10.5pt;
	padding: 10px
}
.atwill {
	background-color: #407040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.encounter {
	background-color: #704040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.daily {
	background-color: #404040;
	color: #FFFFFF;
	padding: 1px 5px 0px 5px;
	width: 340px;
	height: 16px;
}
.powerName {
	font-weight: bold;
	float: left;
}
.powerRank {
	float: right;
}
.powerFlavor {
	background-color: #DDDDCC;
	background-image: url('images/bg_350.jpg');
	font-style: italic;
	padding: 1px 0px 3px 5px;
}
.powerAttributes {
	padding-left: 5px;
}
.noBG {
	padding: 0px 0px 0px 5px;
	background-image: none;
}
.shadedBG {
	padding: 0px 0px 0px 5px;
	background-image: url('images/bg_350.jpg');
}
.pSecondary {
	padding: 0 0 0 15px;
}
.categoryHeader {
	color: #FFF;
	font-weight: normal;
	background-color: #28435a;
	width: 100%;
	overflow: hidden;
	border-radius: 0 50px 0 0;
	padding-left: 6px;
	margin-bottom: 0;
}
